* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
}

.calender {
    margin: auto;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

.month {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #2e66e0;
    color: white;
    padding: 40px 30px;
}

.weekends {
    background-color: #2653b6;
    color: white;
    display: flex;
    padding: 7px 0px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    padding: 10px 0px;
}

.days div {
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.4s;
    text-decoration: none;
}

.weekends div,
.days div {
    width: 14.28%;
    text-align: center;
}

.days div:hover {
    background-color: #dfe6e9;
    cursor: pointer;
}

.today {
    background-color: #2e66e0;
    color: white;
}

.prev_date {
    color: rgb(110, 110, 110);
}

#month {
    font-size: 30px;
    font-weight: 100;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all 0.4s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.today {
    background-color: #2e66e0;
    color: white;
}

.hihi {
    color: white;
}

.days div:hover .hihi {
    color: black;
}

.new {
    color: black;
    text-decoration: none;
}